<ion-header>
  <ion-toolbar>
    <ion-title>Cargar Imagen!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-loading *ngIf="busy"></app-loading>
  <!-- <div>
    <h1 style="text-align: center;">Publicar Foto!</h1>
  </div> -->
  <div class="center" *ngIf="!busy">
    <div class="camara"></div>

    <input type="file" *ngIf="!imageURL" (change)="fileChange($event)" class="filebtn" #filebtn>
    <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">Subir Imagen
    </ion-button>

    <div *ngIf="imageURL" class="container">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-img src="https://ucarecdn.com/{{ imageURL }}/-/preview/{{ activeEffect }}/"></ion-img>
            <ion-card-content>
              <ion-textarea placeholder="Que estas Pensando..." [(ngModel)]="descripcion"></ion-textarea>
              <ion-row>
                <ion-col>
                  <ion-button shape="round" color="primary" (click)="createPost()">Publicar</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button style="align-items: flex-end" shape="round" color="danger" (click)="cancelar()">Cancelar</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [class.active]="activeEffect === effects.effect1" (click)="selectEfect('effect1')">
            <ion-img src="https://ucarecdn.com/{{ imageURL }}/{{ scaleCrop }}/"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect === effects.effect2" (click)="selectEfect('effect2')">
            <ion-img src="https://ucarecdn.com/{{ imageURL }}/{{ scaleCrop }}/{{ effects.effect2 }}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect === effects.effect3" (click)="selectEfect('effect3')">
            <ion-img src="https://ucarecdn.com/{{ imageURL }}/{{ scaleCrop }}/{{ effects.effect3 }}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect === effects.effect4" (click)="selectEfect('effect4')">
            <ion-img src="https://ucarecdn.com/{{ imageURL }}/{{ scaleCrop }}/{{ effects.effect4 }}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect === effects.effect5" (click)="selectEfect('effect5')">
            <ion-img src="https://ucarecdn.com/{{ imageURL }}/{{ scaleCrop }}/{{ effects.effect5 }}"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="noFace">
          <ion-col size="12">
            <p class="no-face"> No hay rostro!</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>