<ion-header>
  <ion-toolbar>
    <ion-title>Time line</ion-title>
    <ion-button style="float: right;" (click)="salir()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <app-loading *ngIf="!posts"></app-loading>

  <div *ngIf="posts">
    <ion-card *ngFor="let post of posts">
      <p style="text-align: center; font-style: italic">Post de: {{post.autor | uppercase}}</p>
      <ion-img padding src="https://ucarecdn.com/{{post.postID}}/-/preview/{{post.effect}}"></ion-img>
      <ion-card-content>
        <p style="text-justify: auto; text-align: center; font-style: italic;">{{post.desc}}</p>
        <ion-item>
          <ion-icon (click)="like()" [name]="heartType"></ion-icon>
        </ion-item>

      </ion-card-content>

    </ion-card>
  </div>

</ion-content>